body {
      background-color: #413b54;
}

.filler-div {
      text-align: center;
}

.index-div {
      background-color: #915dc6;
      border: 3px solid #ff00ff;
      flex: 1;
      margin: 5px;
      padding: 5px;
}

.flex-div {
      display: flex;
}

h1 {
      background-image: linear-gradient(to right, #0c081e00, #0c081e, #0c081e00);
      color: #fff;
      text-align: center;
}

span {
      color: #fff;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      font-size: medium;
}

p, ul {
      color: #fff;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
      background-color: #000;
      list-style-type: none;
      margin: -10px; /*どうして...*/
      overflow: hidden;
      padding: 5px;
}

.navlist {
      float: left;
}

li a {
      color: #cc00ff;
      display: block;
      margin-left: 15px;
      margin-top: 0px;
      padding: 5px;
      text-align: center;
}

li a:hover {
      color: #00ffff;
      background-color: #a699ce;
}

.meme:hover {
      color: #a699ce
}

.meme:hover::after {
      color: #00ffff;
      content: "Fanfic...";
}