body {
      background-color: #413b54;
}

.filler-div {
      text-align: center;
}

.index-div {
      background-color: #915dc6;
      border: 3px solid #ff00ff;
      flex: 1;
      margin: 5px;
      padding: 5px;
}

.flex-div {
      display: flex;
}

h1 {
      background-image: linear-gradient(to right, #0c081e00, #0c081e, #0c081e00);
      color: #fff;
      text-align: center;
}

span {
      color: #fff;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      font-size: xx-large;
}

p, ul {
      color: #fff;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}